@font-face {
  font-family: 'Proxima Nova Thin';
  src: font-url('proxima-nova/Proxima-Nova-Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: font-url('proxima-nova/Proxima-Nova-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Proxima Nova Thin', sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

em {
  font-family: 'Proxima Nova Thin', sans-serif;
  color: rgb(152, 157, 163);
}

.dflex {
  display: flex;
}

.flexcol {
  flex-direction: column;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.alert-notice {
  position: fixed;
  top: 34px;
}

.nova-bold {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: bold;
}

.courier-new {
  font-family: "Courier New", monospace;
}

.bg-white {
  background-color: white;
}

.navbar {
  display: grid;
  grid-template-columns: 15% 60% 15%;
  gap: 10px; /* Optional gap between columns */
  color: white;
  background-color: #3778c2;
  height: 50px;
}

.l-arrow {
  margin: 0 8px;
  width: 20px;
  height: 20px;
}

.title {
  text-align: center;
}

.small-img {
  /* border: 1px solid rgb(202, 202, 202); */
  width: 96px;
  height: 96px;
  justify-content: center;
  align-items: center;
  /* object-fit: contain; */
  margin: 8px 2%;
}

.small-img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.buttons {
  height: 20%;
  width: 100%;
}

.big-logo {
  height: 80%;

}

.cont1 {
  height: 100%;
}

.button-cont {
  width: 90%;
}

.login-button,
.signup-button {
  height: 36px;
  width: 100%;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}

.login-button {
  color: white;
  background-color: #3778c2;
}

.login-button:hover {
  background-color: #2768b0;
}

.login-button:active {
  background-color: #19588c;
}

.signup-button {
  color: #434b54;
}

.signup-button:hover {
  color: #2c3137;
  background-color: white;
}

.signup-button:active {
  color: #1c1f23;
  background-color: rgb(201, 201, 201);
}

.new_user {
  width: 98%;
  height: 100%;
  padding-top: 16px;
  background-color: rgb(245, 246, 248);
}

.placeholder {
  color: rgb(152, 157, 163);
  border-radius: 0;
  width: 94%;
  height: 48px;
  background-color: white;
  font-size: 18px;
  padding: 0 3%;
  border: none;
}

.label1 {
  color: rgb(152, 157, 163);
  background-color: white;
  font-size: 18px;
  padding: 0 3%;
}

.label2 {
  color: rgb(152, 157, 163);
  background-color: white;
  font-size: 18px;
  /* padding: 16px 3%; */
  margin: 8px 1%;
}

.border-top-1 {
  border-top: 2px solid rgb(241, 239, 240);
}

.border-bottom-1 {
  border-bottom: 2px solid rgb(241, 239, 240);
}

.placeholder::placeholder {
  color: rgb(152, 157, 163);
}

.horizontal-line {
  width: 94%;
  height: 2px;
  background-color: rgb(241, 239, 240);
  margin: 0 3%;
}

.horizontal-line2 {
  width: 94%;
  height: 2px;
  background-color: rgb(241, 239, 240);
  margin: 0 3%;
}

.login-button-2 {
  display: block;
  position: absolute;
  top: 12px;
  right: 2px;
  background-color: #3778c2;
}

.login-button-2 input[type="submit"] {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: inherit;
}

.login-button-2 input[type="submit"]:hover {
  text-decoration: underline;
}

.forgot-password-link {
  align-self: center;
  color: rgb(152, 157, 163);
}

.forgot-cont {
  margin: 20px 0 0 0;
}

.groups-cont {
  background-color: rgb(245, 246, 248);
  height: 86vh;
}

.link-cont {
  margin: 16px 4% 0 4%;
  background-color: white;
}

.group-name {
  color: rgb(152, 157, 163);
  margin-top: 28px;
}

.group-total {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: bold;
  justify-self: flex-end;
  text-align: end;
  margin: 28px 2%;
}

.link-cont div {
  width: 100%;
}

.bg-green {
  background-color: #5fb523;
}

.add-group-cont {
  width: 100%;
  height: 80px;
}

.link-to-new-group {
  border: 2px solid white;
  height: 72%;
  width: 94%;
  color: white;
}

.transactions-cont {
  background-color: rgb(245, 246, 248);
  min-height: 85vh;
  height: auto;
  padding-top: 16px;
}

.drainer-cont {
  background-color: white;
  margin: 0 4%;
}

.group-cont {
  background-color: white;
  margin: 0 4%;
}

.amount-name {
  font-family: 'Proxima Nova Thin', sans-serif;
  color: rgb(152, 157, 163);
}

.categories-cont {
  margin: 16px 4%;
}
